{% load static %}
<!Doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width,initiale-scale=1"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="stylesheet" href="{% static "store/style.css" %}"/>
	<link rel="stylesheet" href="{% static "store/tete.css" %}"/>
	<link rel="stylesheet" href="{% static "store/pied.css" %}"/>
	<meta name="theme-color" content="red"/>
	<link rel="icon" href="{% static "store/favicon.ico" %}">
	<title>Informations sur skerli</title>
</head>
<body>
	<div class="firo"><h1 class="vie">SKERLI!leader du ecommerce africain</h1>
		<form action="{% url "store:search" %}" method="GET">

    {% csrf_token %}
    {{ form.as_p }}

  <input type="search" placeholder="Tapez le nom du produit recherché" size="30" maxLength="30" name="query"/>
</form>
	<p>
          <ul>
              <img  class="minou" src="{% static "shopi.png"%}"/><li><a href="">BuyMore</a></li>
              <img class="titi" src="{% static "shopi.png"%}"/><li><a href="http://skerly.com">BuyBig</a></li>
          </ul> 
        </p>
     </div>
    
		
			<p class="cil"><a href="{% url "store:display" %}"><button style="background-color:red;color:white;width:100px;">Catégories</button></a></p>
<h3>Idée de Skerli corporation</h3>
<p class="dicken">Skerli corporation est l'idée de six étudiants qui partagent la même vision,celle de changer le monde.Ils croient en un monde où le travail prime sur toute chose et c'est cette vision qu'ils veulent partager en faisant de Skerli,la plus grande société jamais créée.</p>
<h3>Objectifs</h3>
<p class="kel">Créer la plus grande société qui n'est jamais existée au monde.<br/>
Englober tous les aspects de la vie humaine car même si Skerli a commencé par le web,notre vision englobe tous les aspects de la vie humaine.<br/>
Changer le monde en apportant des solutions aux problèmes les plus complexes.</p>

<h3>Contacts</h3>
<p class="ouilsou">Pour tous ceux qui veulent nous contacter pour informations,réclamations ou pour vendre sur skerli etc,vous pourrez nous trouver aux adresses suivantes:<br/>

	Email:<a style="color:green;" href="mailto:skerli.com@gmail.com">Skerli.com@gmail.com</a><br/>
	Téléphone:<a style="color:green;" href="tel:+22379594261">+22379594261</a><br/>
	Page Facebook:Skerli.com<br/>
</p>

<script src="{% static "store/cours.js"%}"></script>
<div class="biz">
		<div class="bas"><a href="{% url "store:confidentialite" %}"><strong>Conditions d'utilisation</strong></a></div>
		<div class="bas"><a href="{% url "store:about" %}"><strong>A propos</strong></a></div>
		<div class="bas">copyright 2018 by Skerli-corporation-Tous droits réservés</div>
	</div>

</body>
</html>