{% load static %}
<!Doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width,initiale-scale=1"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="stylesheet" href="{% static "store/style.css" %}"/>
	<link rel="stylesheet" href="{% static "store/tete.css" %}"/>
	<link rel="stylesheet" href="{% static "store/pied.css" %}"/>
	<meta name="theme-color" content="red"/>
	<link rel="icon" href="{% static "store/favicon.ico" %}">
	<title>Conditions d'utilisation de skerli</title>
</head>
<body>
	<div class="firo"><h1 class="vie">SKERLI!leader du ecommerce africain</h1>
		<form action="{% url "store:search" %}" method="GET">

    {% csrf_token %}
    {{ form.as_p }}

  <input type="search" placeholder="Tapez le nom du produit recherché" size="30" maxLength="30" name="query"/>
</form>
	<p>
          <ul>
              <img  class="minou" src="{% static "shopi.png"%}"/><li><a href="">BuyMore</a></li>
              <img class="titi" src="{% static "shopi.png"%}"/><li><a href="http://skerly.com">BuyBig</a></li>
          </ul> 
        </p>
     </div>
    
		
			<p class="cil"><a href="{% url "store:display" %}"><button style="background-color:red;color:white;width:100px;">Catégories</button></a></p>
<h3>Conditions d'utilisation:</h3>
<p class="scalpel">
	Toute personne qui utilise les services Skerli ou tout autre service rattaché à Skerli accepte aussitôt ces conditions:<br/>

		1)Skerli est ouvert à tout le monde sans distinction<br/>
        2)La fermeture du site ou tout autre service rattaché au site est une prérogative du propriétaire et n'a pas besoin d'être motivée<br/>        
        3)Tout événement malencontreux survenu lors de l'utilisation du site ou posterieurement à l'utilisation du site ne saurait engager la responsalité des propriétaires du site<br/>
        4)Les données qui sont transmises au site deviennent aussitôt la propriété exclusive de Skerli(usus,fructus,abusus) et peuvent être utilisées à des fins commerciales<br/>
        5)Skerli étant une marketplace,sa responsabilité ne saurait être engagée en cas de contrefaçon de produits ou de produits de mauvaise qualité ou de tout autre événement malencontreux né postérieusement ou au moment de l'usage du site<br/>
        6)Skerli ne saurait être tenue pour responsable de hacking perpetrés sur sa plateforme<br/>
    </p>
<script src="{% static "store/cours.js"%}"></script>
<div class="biz">
		<div class="bas"><a href="{% url "store:confidentialite" %}"><strong>Conditions d'utilisation</strong></a></div>
		<div class="bas"><a href="{% url "store:about" %}"><strong>A propos</strong></a></div>
		<div class="bas">copyright 2018 by Skerli-corporation-Tous droits réservés</div>
	</div>

</body>
</html>

